<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agri.duraivel.myapplication">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/logooval"
        android:label="Agri Assist"
        android:roundIcon="@drawable/logooval"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNOr1SmVN_qHVxkEEiRgMwWhPBxBpTvzk" />

        <activity
            android:name=".Main4Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".History"
            android:label="History" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity android:name=".IPEnter" />
        <activity
            android:name=".SignupActivity"
            android:label="Signup" />
        <activity
            android:name=".GIS"
            android:label="@string/title_activity_gis"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PushCropInfo" />
        <activity
            android:name=".FarmSuggestion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SuggestionInput"></activity>
    </application>

</manifest>