body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background: #FFFFFF;
}

a:link, a:visited { color: #000; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #F00; text-decoration: underline}

h1 {
	margin: 0px;
	padding: 3px 0px 15px 0px;
	font-size: 24px;
	font-weight: bold;
	color: #333333;
}

h2 {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	font-size: 16px;
	font-weight: bold;
	color: #3e78b2;
}

h4 {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-weight: bold;
	color: #06A;
}

p{
	margin: 0px;
	padding: 0 0 10px 0;
	text-align: justify;
}

.spacetobottom {
	clear: both;
	height: 50px;
}

.spacetoright {
	float: left;
	width: 10px;
	height: 1px;;
}

/* ----- Form ----- */
form{
	margin: 35px 0 0 0;
	padding: 0px;
	text-align: right;	
}

label {
	margin: 0 10px;
}


/* End of Form */




#templatemo_container {
	margin: auto;
	width: 950px;
	padding: 0px 10px;
	background: url(images/mainBG.gif) repeat-y;
}

#templatemo_topbar {
	float: left;
	height: 36px;
	width: 850px;
	padding: 0 50px;
	margin-bottom: 10px;	
}



#templatemo_header {
	float: left;
	height: 60px;
	width: 850px;
	padding: 0 50px;
	margin-bottom: 10px;
}

#templatemo_logo {
	float: left;
	height: 55px;
	width: 300px;
}

#templatemo_logo img {
	float: left;
	border: none;
	padding-right: 10px;
}

#templatemo_sitetitle {
	padding: 28px 0 0 40px;
	font-size: 4.0em;
	font-weight: bold;
	color: #333333;
}

#templatemo_login {
	float: right;
	height: 55px;
	width: 530px;
}

/*------------- Menu ------------------*/
#templatemo_menu {
	float: left;
	width: 950px;
	height: 40px;
	margin: 0;
	padding: 0;
	background: url(images/menuBG.gif) repeat-x;
}

#templatemo_menu ul {
	margin: 0 0 0 50px;
	padding: 0px;
	list-style: none;
}

#templatemo_menu ul li{
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	width: 140px;
	height: 20px;
	margin-top: 10px;
	padding: 0;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #CCCCCC;
	border-left: 1px solid #CCCCCC;
}

#templatemo_menu ul li .lastmenu{
	border-right: 1px solid #CCCCCC;	
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #FFFFFF;
	background: url(images/menuhoverBG.gif) no-repeat;
}
/* ----------------- end of menu----------------*/

#templatemo_banner {
	clear: both;
	float: left;
	width: 750px;
	height: 80px;
	padding: 30px 150px 0 50px;
	margin-bottom: -25px;
	background: url(images/bannerBG.gif) no-repeat;
}

#templatemo_banner h1 {
	font-size: 2.5em;
	margin-bottom: 10px;
}

#templatemo_services {
	clear: both;
	float: left;
	width: 900px;
	height: 272px;
	padding-left: 50px;
	margin-bottom: 25px;
}



/* end of news section */

/* Light Blue Row */
#templatemo_light_blue_row {
	clear: both;
	float: left;	
	width: 900px;
	padding: 25px 0 25px 50px;
	background: #8dc3fa;
	border-top: 5px solid #98cafc;
}

.templatemo_partners {
	float: left;
	width: 400px;
}

.gp_row {
	width: 400px;
	margin-bottom: 10px;
}

.gp_row img{
	float: left;
	margin: 3px 10px 0 0;
	border: 1px solid #333333;
}

.gp_row p{
	color: #000000;
}

/* end of Light Blue Row */

/* ----- Footer ----- */

#templatemo_footer {
	clear: both;
	padding: 15px 0px 0px 0px;
	width: 950px;
	height: 50px;
	text-align: center;
	background: #999999;
	border-top: 5px solid #666666;
}

#templatemo_footer a{
	font-weight: normal;
}

/* ----- End of Footer ----- */

.btn {
	height: 0.7cm;
	width: 2cm;
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000000;
}
.txt {
	height: 0.7cm;
	width: 5cm;
}
